.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; /* Megakadályozza az elemek tördelődését. */
}

.image {
    width: 200px; /* vagy bármilyen méret, ami megfelelőnek tűnik */
    margin-right: 20px;
    flex-shrink: 0;
}

.text {
    max-width: 400px;
    flex-grow: 1;
}
