/* Általános stílusok */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Flexbox konténer */
.container {
  display: flex;
  flex-direction: column; /* Oszlopos elrendezés (mobiltelefonon) */
  align-items: flex-start; /* Elemek balra igazítása */
  width: 100%;
  max-width: 1200px; /* Válasszon egy tetszőleges maximális szélességet */
  margin: 0 auto;
}

/* Kép */
.image-container {
  max-width: 50%; /* A kép maximális szélessége a képernyő 50%-a */
  margin: 20px 0;
}

.image {
  width: 100%;
  height: auto;
}

.left-image {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

/* Szöveg */
.text-container {
  padding: 20px; /* Belső margó a szöveg körül */
}

h1, p {
  margin: 0; /* Távolítsa el a címsorok és bekezdések alapértelmezett margóit */
}
